:root {
  --color-primary: #8a0606;
  --color-secondary: #1f1f1f;
  --color-shadow: #540000;
  --color-white: #fff0eb;
  --font-family-fraktion: 'Courier New', Courier, monospace;
  --font-family-editorial: 'Georgia', serif;
  --font-family-bigger: 'Arial Black', sans-serif;
}
